<div class="container">
    <h1>Welcome, <%= user.name %>!</h1>
    <h2>My Courses:</h2>
    <% if (user.courses.length > 0) { %>
      <ul>
        <% user.courses.forEach(course => { %>
          <li><%= course.name %> - <a href="/courses/<%= course.id %>">View Course</a></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>You are not currently teaching any courses.</p>
    <% } %>
    <h2>Project Roster:</h2>
    <% if (user.projects.length > 0) { %>
      <ul>
        <% user.projects.forEach(project => { %>
          <li><%= project.title %> - <a href="/professor/projects/<%= project.id %>">View Project Details</a></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>You have not created any projects.</p>
    <% } %>
    <a href="/professor/courses/new" class="btn btn-primary">Create Course</a>
    <a href="/professor/projects/new" class="btn btn-primary">Create New Project</a>
    <a href="/users/<%= user.id %>/edit" class="btn btn-primary">Edit Profile</a>
    <form action="/logout" method="POST">
      <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</div>