<h1>Project Roster</h1>

<ul>
  <% for(let i=0; i<projects.length; i++) { %>
    <li>
      <h2><%= projects[i].title %></h2>
      <p><%= projects[i].description %></p>
      <p>Administrators: <%= projects[i].admin %></p>
      <p>Skills & Technologies: <%= projects[i].skills %></p>
      <p>Anticipated Deadline: <%= projects[i].deadline %></p>
      <p>Resources Provided: <%= projects[i].resources %></p>
      <% if (projects[i].attachment) { %>
        <a href="/uploads/<%= projects[i].attachment.filename %>">Download Attachment</a>
      <% } %>
    </li>
  <% } %>
</ul>